<!DOCTYPE html>
<html lang="es">
<head>

    <script type="text/javascript" async>
        setTimeout(function () {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-56739058-1', 'auto', {
                'allowLinker': true
            });
            ga('require', 'linker');
            ga('linker:autoLink', ['https://venta.odm.com.mx:30700/odm']);
            ga('send', 'pageview');

        }, 500);
    </script>

    <!-- Google Tag Manager -->
    <script>
        setTimeout(function () {
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    'gtm.start': new Date().getTime(),
                    event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-TD3ZZ93');
        }, 500);
    </script>



    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ODM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/espera.css" />
    <link rel="stylesheet" href="~/css/crono.css" />
    <link rel="stylesheet" href="~/css/flechas.css" />

    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />



    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.min.css">

    <style>
        footer {
            position: relative;
            width: 100%;
            bottom: 0px;
        }

        #prueba2 {
            border-bottom: #00346e solid 1px;
        }

        #navbarSupportedContent {
            position: relative;
            top: 21px;
        }

        #footerDiv {
            margin: 0px;
            background: #033062;
        }

            #footerDiv a {
                color: white;
            }

                #footerDiv a:hover {
                    color: grey;
                }

        .padre {
            display: flex;
            align-items: center;
        }

        .hijo {
            width: 100%;
        }

        #top ul li {
            display: inline;
            line-height: 30px;
            margin: 0 5px;
        }

        .redSocial2 {
            font-size: x-large;
        }

        #top a {
            text-decoration: none;
        }
    </style>
    <link rel="stylesheet" href="~/css/paso1.css" />
    <link rel="stylesheet" href="~/css/paso2.css" />
    <link rel="stylesheet" href="~/css/paso3.css" />
</head>
<body>
    <header>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">VentaOdm</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>*@
        <nav id="prueba2" class="navbar navbar-expand-lg navbar-light ">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <div>
                <a href="https://odm.com.mx/">
                    <img class="img-fluid rounded mx-auto d-block img1" style="width: 69%; width: 50%" src="https://odm.com.mx/imagen/logoODM.webp" alt="Logo Omnibus de México">
                </a>
            </div>

            <!-- <img class="img-fluid rounded mx-auto d-block"  src="https://odm.com.mx/images/marquesina.jpg" alt=""> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" style="margin: auto;">
                    <li class="nav-item">
                        <a class="nav-link" style="width: 142px;" href="https://www.odm.com.mx/envios-odm">
                            <i class="fas fa-shipping-fast"></i> Envíos ODM
                            <!-- <span class="sr-only">(current)</span> -->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="width: 120px;" href="https://www.odm.com.mx/cobertura">
                            <i class="fas fa-bus"></i> Cobertura
                            <!-- <span class="sr-only">(current)</span> -->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="width: 160px" href="https://www.odm.com.mx/puntosgoogle"><i class="fas fa-map"></i> Puntos de venta</a>
                    </li>

                    <li class="nav-item">
                        <!-- <a class="nav-link" href="#"><i class="far fa-handshake"></i> Servicios</a> -->
                        <a class="nav-link" style="width: 109px;" href="https://www.odm.com.mx/servicios"><i class="far fa-handshake"></i> Servicios</a>
                    </li>

                    <li class="nav-item">
                        <a id="factura" style="margin-bottom: 10px;" href="https://venta.odm.com.mx/FacturacionElectronica/IndexFacturaElec.html" class="nav-link"><i class="fas fa-file-alt"></i> Facturación</a>
                    </li>

                </ul>
                <!-- <form style="display: block;" id="login" class="form-inline my-2 my-lg-0 "> -->

                <div style="display: none;" class="col-lg-3">
                    <ul class="nav navbar-nav navbar-right" style="padding-bottom: 100px;">
                        <li style="margin-right: 10px;"><a id="loginReg" href="#modalRegistro" data-toggle="modal"><span class="fas fa-user"></span> Ingresar</a></li>

                        <!-- <li><a href="#"><span class="fas fa-sign-in-alt"></span> Registrar</a></li> -->
                    </ul>
                </div>


                <!--  </form> -->
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <div id="footerDiv" class="text-center">
            <div>
                <!-- <h4 align="center">Footer</h4> -->
                <!-- ////// INICIO PREGUNTAS ///////// -->
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.odm.com.mx/quienes-somos2">Quiénes somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.odm.com.mx/preguntas-frecuentes">Preguntas frecuentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://venta.odm.com.mx/netScripts/request.aspx?APPNAME=Navegante&amp;PRGNAME=AccesoEx&amp;ARGUMENTS=-AAG" target="_blanck">Agencias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.odm.com.mx/contactanos">Contáctanos</a>
                    </li>
                </ul>
                <!-- ////// FIN PREGUNTAS ///////// -->

            </div>
            @*///////////*@

            <div class="container" id="top">
                <div align="center" class="row">
                    <div class="col">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/OmnibusdeMexicoOficial/?fref=ts" target="_blank">
                                    <i class="fab fa-facebook redSocial2" style="size: 5px" ;" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li>
                                <a href="https://twitter.com/omnibus_oficial" target="_blank">
                                    <i class="fab fa-twitter redSocial2" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li>
                                <a href="https://www.instagram.com/omnibus_oficial/" target="_blank">
                                    <i class="fab fa-instagram redSocial2"></i>
                                </a>
                            </li>

                            <li>
                                <a href="https://www.youtube.com/channel/UCyQ_-uZqptGN2M45DNOl7CQ" target="_blank">
                                    <i class="fab fa-youtube redSocial2"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- ////////////////// LOGO BLANCO ///////////////////////////// -->
            <div align="center" class="container">
                <img class="img16" width="25%" src="https://odm.com.mx/imagen/logo-blanco-ODM.png" alt="Logo blanco Omnibus de México" />
            </div>
            <!-- ////////////////// FIN LOGO BLANCO ///////////////////////////// -->
            <!-- ///////////// CALL CENTER /////////////// -->
            <!-- <div class="startToky">
                <img src="imagen/startToky.png">
            </div> -->
            <!-- ////////// FIN CALL CENTER ////////////// -->
            <!-- ///////////// CALL CENTER /////////////// -->
            <!-- <div  class="chat">
                <img src="imagen/chat.png">
            </div> -->
            <!-- ////////// FIN CALL CENTER ////////////// -->
            <!-- ///////// INICIO MAPA DEL SITIO /////////-->

            <div class="conteiner">
                <div class="">
                    <div class="col">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Mapa del sitio</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ///////// INICIO POLITICAS /////////-->
            <div class="conteiner">
                <div class="">
                    <div class="col">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link" href="https://odm.com.mx/aviso-privacidad">Aviso de privacidad | Políticas de viaje</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ////////  -->

        </div>


        @*<div class="padre text-center">
                <div class="hijo"></div>

            </div>*@

        <div class="text-center">
            <p style="margin: 0px;" class="justify-content-center"> &copy; OMNIBUS DE MÉXICO TODOS LOS DERECHOS RESERVADOS 2020</p>
        </div>
    </footer>
    @*<div class="float-none">&copy; OMNIBUS DE MÉXICO TODOS LOS DERECHOS RESERVADOS 2020</div>*@


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js" integrity="sha512-wGKmIfDWUJSUvxUfUayQPJj7ADCD60La3up0VCbq+MTFcOUQ2hlH2McnYFafHgLTsOrGwOdiHKX4p1v0BerCyQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>


    @*//////////// DETECTA EL ORIGEN SELECCIONADO Y CARGA SUS DESTINOS ////////////*@
    <script src="~/js/shared/orgSeleccionado.js"></script>

    @*//////////// ASIGNA EL FORMATO DE FECHA TEXTO EN LOS CALENDARIOS ////////////*@
    <script src="~/js/shared/fechaCalendarios.js"></script>

    @*//////////// ASIGNA EL FORMATO DE FECHA REGRESO TEXTO / QUITA REGRESO ////////////*@
    <script src="~/js/shared/fechaRegFormatoYquitaReg.js"></script>

    @*//////////// VARIABLES PARA EL CRONOMETRO ////////////*@
    <script src="~/js/shared/cronometro.js"></script>

    <script>setTimeout(function () {

            ! function (f, b, e, v, n, t, s) {
                if (f.fbq) return;
                n = f.fbq = function () {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '320605981652997');
            fbq('track', 'PageView');


        }, 5000);</script>

    <script>
        window.addEventListener("pageshow", function (event) {
            var historyTraversal = event.persisted || (typeof window.performance != "undefined" && window.performance.navigation.type === 2);
            if (historyTraversal) {
                // Handle page restore.
                window.location.reload();
            }
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
