@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "PasoFinal";
}

<style>
    .pas4 {
        width: 30px;
        height: 30px;
        background: #023765;
        text-align: center;
        line-height: 29px;
        border-radius: 50px;
        font-size: larger;
        color: white;
    }

    .pas1, .pas2, .pas3 {
        width: 30px;
        height: 30px;
        background: #edeff0;
        border-radius: 50px;
    }
</style>

<div class="row paso2">
    <div class="pasos">
        <div class="bus"><i class="fas fa-bus-alt"></i></div>
        <div class="pas1"></div>
        <div class="linea"></div>
        <div class="pas2"></div>
        <div class="linea"></div>
        <div class="pas3"></div>
        <div class="linea"></div>
        <div class="pas4">4</div>
    </div>
</div>